<wicket:panel>

<footer id="footer">
	<div class="footerInner">
		<section class="footerUtilities">
			<div class="shell clearfix">
				<div class="pull-left footerContacts">
					<ul class="list-inline">
						<li>
							<div class="footerContactsParagraph">
								<small><span class="wc-editable"
									data-pk="ws_call_us_now" data-type="text">Call Us Now</span>:</small>
							</div>

							<div class="footerContactsParagraph">
								<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>

								<strong><span class="wc-editable"
									data-pk="ws_footer_phone_number" data-type="text">123.456.7890</span></strong>
							</div>
						</li>

						<li>
							<div class="footerContactsParagraph">
								<small><span class="wc-editable"
									data-pk="ws_send_us_a_message" data-type="text">Or send
										us a message</span>:</small>
							</div>
							<div class="footerContactsParagraph">
								<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>

								<a href="mailto:info@domainame.com">info@domainame.com</a>
							</div>
						</li>
					</ul>
				</div>

				<div class="pull-right footerSocials">
					<div class="footerSocialsParagraph">
						<span class="wc-editable" data-pk="ws_we_are_social"
							data-type="text">We are social</span>:
					</div>

					<ul class="list-inline">
						<li><a href="https://www.facebook.com/" target="_blank"
							class="linkFacebook">facebook</a></li>
						<li><a href="https://twitter.com/" target="_blank"
							class="linkTwitter">twitter</a></li>
						<li><a href="https://instagram.com/" target="_blank"
							class="linkInstagram">Instagram</a></li>
						<li><a href="https://plus.google.com/" target="_blank"
							class="linkGooglePlus">googlePlus</a></li>
					</ul>
				</div>
			</div>
		</section>

		<section class="footerOptions">
			<div class="shell clearfix">
				<nav class="pull-right footerNav">
					<ul class="list-inline">
						<li wicket:id="link-container-homepage"><a wicket:id="link-homepage">Home</a></li>
						<li wicket:id="link-container-reservations"><a wicket:id="link-reservations">Reservations</a></li>
						<li wicket:id="link-container-about-us"><a wicket:id="link-about-us">About Us</a></li>
						<li wicket:id="link-container-services"><a wicket:id="link-services">Services</a></li>
						<li wicket:id="link-container-locations"><a wicket:id="link-locations">Locations</a></li>
						<li wicket:id="link-container-faq"><a wicket:id="link-faq">FAQ</a></li>
						<li wicket:id="link-container-terms"><a href="link-terms">Rental Terms</a></li>
						<li wicket:id="link-container-contact-us"><a wicket:id="link-contact-us">Contact Us</a></li>
					</ul>
				</nav>
				<div class="pull-left copyright">
					© 2016 <span class="wc-editable" data-pk="ws_footer_company"
						data-type="text">Company, LLC.</span> <span class="wc-editable"
						data-pk="ws_rights_reserved" data-type="text">All rights
						reserved.</span>
				</div>

				<div class="credits">
					<a href="https://www.epam.com/car-rental-websites/" target="_blank">Car
						Rental Service Website</a> by <a href="https://www.epam.com/"
						target="_blank">EPAM.com</a>
				</div>
			</div>
		</section>
	</div>
</footer>

</wicket:panel>