<!DOCTYPE html>
<html lang="en-GB" dir="ltr">

<head>
<title>Car Rental Website | Home Page</title>
<meta name="description" content="Home page short description. Up to 160 characters.">
<meta name="keywords" content="Keywords">
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="images/favicon.ico">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="css/owl.carousel.css">
<link type="text/css" rel="stylesheet" href="css/style.css">
<link type="text/css" rel="stylesheet" href="css/theme2.css">
<link type="text/css" rel="stylesheet" href="css/template.css">
<link type="text/css" rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>

<body>
<div class="wrapper">
    <header id="header">
	<div class="navbar navbar-default">
		<div class="shell">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
											<a href="index.html" class="navbar-brand">
							<img src="http://vevs.website/home/templates/website/images/logo-1463940188.png" alt="">
						</a>
										</div><!-- /.navbar-header -->

				<nav class="collapse navbar-collapse" id="nav">
					<ul class="navbar-right nav navbar-nav">
						<li><a href="index.html">Home</a></li><li><a href="reservations.html">Reservations</a></li><li><a href="about-us.html">About Us</a></li><li><a href="services.html">Services</a></li><li><a href="locations.html">Locations</a></li><li class="active"><a href="faq.html">FAQ</a></li><li><a href="contact-us.html">Contact Us</a></li>														
													</ul><!-- /.navbar-right nav navbar-nav -->
				</nav><!-- /#nav.collapse navbar-collapse -->
			</div><!-- /.container-fluid -->
		</div><!-- /.shell -->
	</div><!-- /.navbar navbar-default -->
</header><!-- /#header -->    

<div class="main">
	<section class="section sectionFaq">
		<header class="page-header sectionHead">
			<div class="shell">
				<h1 class="sectionTitle"><span class="wc-editable" data-pk="ws_faq_title" data-type="text">FAQ</span></h1>
				
				<div class="sectionHeadParagraph"><span class="wc-editable" data-pk="ws_faq_desc" data-type="textarea">Let your customers know some details about your service. Answer questions that are important and frequently appear. Replace the dummy content here with your own. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span></div>
			</div>
		</header>

		<div class="sectionBody">
			<div class="shell">
				<div class="panel-group accordions accordionsFaq" id="accordion" role="tablist" aria-multiselectable="true">
										<div class="panel panel-default">
							<header class="panel-heading" role="tab" id="heading1">
								<div class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1" class="collapsed"><span class="wc-editable" data-pk="ws_faq_question_1" data-type="textarea">Will I receive a confirmation of my online reservation?</span></a>
								</div>
							</header>
	
							<div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
								<div class="panel-body">
									<div class="panelParagraph">
										<div class="wc-editable" data-pk="ws_faq_answer_1" data-type="textarea">Replace the dummy content here with your own question and answer.<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum.&nbsp;Dignissimos ipsam saepe inventore consequuntur nisi aliquam, optio odit amet!&nbsp;Quaerat excepturi doloremque, dolorem, rem laboriosam accusamus reiciendis consectetur aut! Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div></div>									</div>
								</div>
							</div>
						</div>
												<div class="panel panel-default">
							<header class="panel-heading" role="tab" id="heading2">
								<div class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2" class="collapsed"><span class="wc-editable" data-pk="ws_faq_question_2" data-type="textarea">How can I pay for the service?</span></a>
								</div>
							</header>
	
							<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
								<div class="panel-body">
									<div class="panelParagraph">
										<span class="wc-editable" data-pk="ws_faq_answer_2" data-type="textarea">Replace the dummy content here with your own question and answer. Fusce eleifend orci ante, vitae feugiat turpis efficitur vitae. Nunc mauris mi, feugiat quis rutrum sed, eleifend a erat. Nam pellentesque libero eros, sit amet faucibus urna dictum eget. Suspendisse nulla eros, fringilla consequat sagittis a, bibendum non lacus. Curabitur id augue quis orci mollis congue. Nam tincidunt blandit nisi, efficitur venenatis nibh convallis non. Fusce quis sem eget sem volutpat elementum in et turpis. Nam et mauris et dui euismod tristique. Morbi vehicula sapien ac sem vehicula, sit amet pharetra odio auctor. Nunc tincidunt, quam dictum viverra sollicitudin, arcu tortor convallis nibh, ut commodo felis velit ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada nunc eu mi lacinia dapibus.</span>									</div>
								</div>
							</div>
						</div>
												<div class="panel panel-default">
							<header class="panel-heading" role="tab" id="heading3">
								<div class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3" class="collapsed"><span class="wc-editable" data-pk="ws_faq_question_3" data-type="textarea">What if I need to keep the car a bit longer than the agreed date and time?</span></a>
								</div>
							</header>
	
							<div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
								<div class="panel-body">
									<div class="panelParagraph">
										<div class="wc-editable" data-pk="ws_faq_answer_3" data-type="textarea">Replace the dummy content here with your own question and answer.<br><br>
<div><br></div><div>Proin pulvinar eros nisi, vitae pulvinar libero faucibus sed. Curabitur rhoncus nibh elit, id tempor elit consequat at. Praesent in faucibus urna. Curabitur semper sapien et tellus laoreet, et luctus sapien bibendum. Proin mollis vulputate massa. Nulla pretium et purus aliquet laoreet. Cras vitae hendrerit erat, id sagittis lacus.</div></div>									</div>
								</div>
							</div>
						</div>
												<div class="panel panel-default">
							<header class="panel-heading" role="tab" id="heading4">
								<div class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4" class="collapsed"><span class="wc-editable" data-pk="ws_faq_question_4" data-type="textarea">Do you have mileage limit?</span></a>
								</div>
							</header>
	
							<div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
								<div class="panel-body">
									<div class="panelParagraph">
										<div class="wc-editable" data-pk="ws_faq_answer_4" data-type="textarea">Replace the dummy content here with your own question and answer.<br>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum. Dignissimos ipsam saepe inventore consequuntur nisi aliquam, optio odit amet! Quaerat excepturi doloremque, dolorem, rem laboriosam accusamus reiciendis consectetur aut! Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div></div>									</div>
								</div>
							</div>
						</div>
												<div class="panel panel-default">
							<header class="panel-heading" role="tab" id="heading5">
								<div class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5" class="collapsed"><span class="wc-editable" data-pk="ws_faq_question_5" data-type="textarea">What is included in your rates? Do you charge additional fees?</span></a>
								</div>
							</header>
	
							<div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
								<div class="panel-body">
									<div class="panelParagraph">
										<div class="wc-editable" data-pk="ws_faq_answer_5" data-type="textarea">Replace the dummy content here with your own question and answer.<br><br>
<div>Duis enim lacus, efficitur quis mauris ac, varius tincidunt libero. Fusce dapibus fermentum accumsan. Nam imperdiet congue hendrerit. Quisque tristique turpis sit amet bibendum ullamcorper. Donec tristique a lacus quis convallis. Vivamus sed purus lacus. Curabitur viverra ipsum ut metus consequat convallis. Integer interdum magna nisl, suscipit facilisis arcu pulvinar id.</div></div>									</div>
								</div>
							</div>
						</div>
												<div class="panel panel-default">
							<header class="panel-heading" role="tab" id="heading6">
								<div class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6" class="collapsed"><span class="wc-editable" data-pk="ws_faq_question_6" data-type="textarea">Can I change the car during the pickup?</span></a>
								</div>
							</header>
	
							<div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
								<div class="panel-body">
									<div class="panelParagraph">
										<span class="wc-editable" data-pk="ws_faq_answer_6" data-type="textarea">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum.<br>&nbsp;Suspendisse nulla eros, fringilla consequat sagittis a, bibendum non lacus. Curabitur id augue quis orci mollis congue. Nam tincidunt blandit nisi, efficitur venenatis nibh convallis non. Fusce quis sem eget sem volutpat elementum in et turpis. Nam et mauris et dui euismod tristique. Morbi vehicula sapien ac sem vehicula, sit amet pharetra odio auctor.</span>									</div>
								</div>
							</div>
						</div>
												<div class="panel panel-default">
							<header class="panel-heading" role="tab" id="heading7">
								<div class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7" class="collapsed"><span class="wc-editable" data-pk="ws_faq_question_7" data-type="textarea">How can I cancel my reservation?</span></a>
								</div>
							</header>
	
							<div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
								<div class="panel-body">
									<div class="panelParagraph">
										<span class="wc-editable" data-pk="ws_faq_answer_7" data-type="textarea">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum.<br>
Dignissimos ipsam saepe inventore consequuntur nisi aliquam, optio odit amet!<br>
Quaerat excepturi doloremque, dolorem, rem laboriosam accusamus reiciendis consectetur aut!</span>									</div>
								</div>
							</div>
						</div>
												<div class="panel panel-default">
							<header class="panel-heading" role="tab" id="heading8">
								<div class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8" class="collapsed"><span class="wc-editable" data-pk="ws_faq_question_8" data-type="textarea">Do you have discounts for regular clients?</span></a>
								</div>
							</header>
	
							<div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
								<div class="panel-body">
									<div class="panelParagraph">
										<span class="wc-editable" data-pk="ws_faq_answer_8" data-type="textarea">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum.Morbi vehicula sapien ac sem vehicula, sit amet pharetra odio auctor. Nunc tincidunt, quam dictum viverra sollicitudin, arcu tortor convallis nibh, ut commodo felis velit ut nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada nunc eu mi lacinia dapibus.</span>									</div>
								</div>
							</div>
						</div>
												<div class="panel panel-default">
							<header class="panel-heading" role="tab" id="heading9">
								<div class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9" class="collapsed"><span class="wc-editable" data-pk="ws_faq_question_9" data-type="textarea">Can I pickup or return the car on a location chosen by me?</span></a>
								</div>
							</header>
	
							<div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
								<div class="panel-body">
									<div class="panelParagraph">
										<div class="wc-editable" data-pk="ws_faq_answer_9" data-type="textarea">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum.Curabitur rhoncus nibh elit, id tempor elit consequat at. Praesent in faucibus urna. Curabitur semper sapien et tellus laoreet, et luctus sapien bibendum. Proin mollis vulputate massa. Nulla pretium et purus aliquet laoreet. Cras vitae hendrerit erat, id sagittis lacus.<br>
<div><br>
</div><div>Duis enim lacus, efficitur quis mauris ac, varius tincidunt libero. Fusce dapibus fermentum accumsan.</div></div>									</div>
								</div>
							</div>
						</div>
												<div class="panel panel-default">
							<header class="panel-heading" role="tab" id="heading10">
								<div class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10" class="collapsed"><span class="wc-editable" data-pk="ws_faq_question_10" data-type="textarea">Do you have minimum or maximum booking length?</span></a>
								</div>
							</header>
	
							<div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
								<div class="panel-body">
									<div class="panelParagraph">
										<span class="wc-editable" data-pk="ws_faq_answer_10" data-type="textarea">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum.<br>
Dignissimos ipsam saepe inventore consequuntur nisi aliquam, optio odit amet!<br>
Quaerat excepturi doloremque, dolorem, rem laboriosam accusamus reiciendis consectetur aut!</span>									</div>
								</div>
							</div>
						</div>
										</div>
			</div>
		</div>
	</section>
</div>   

 <footer id="footer">
	<div class="footerInner">
		<section class="footerUtilities">
			<div class="shell clearfix">
				<div class="pull-left footerContacts">
					<ul class="list-inline">
						<li>
							<div class="footerContactsParagraph"><small><span class="wc-editable" data-pk="ws_call_us_now" data-type="text">Call Us Now</span>:</small></div>
		
							<div class="footerContactsParagraph">
								<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
		
								<strong><span class="wc-editable" data-pk="ws_footer_phone_number" data-type="text">123.456.7890</span></strong>
							</div>
						</li>
		
						<li>
							<div class="footerContactsParagraph"><small><span class="wc-editable" data-pk="ws_send_us_a_message" data-type="text">Or send us a message</span>:</small></div>
														<div class="footerContactsParagraph">
								<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
		
								<a href="mailto:info@domainame.com">info@domainame.com</a>							</div>
						</li>
					</ul>
				</div>
		
				<div class="pull-right footerSocials">
					<div class="footerSocialsParagraph"><span class="wc-editable" data-pk="ws_we_are_social" data-type="text">We are social</span>:</div>
		
					<ul class="list-inline">
						<li><a href="https://www.facebook.com/" target="_blank" class="linkFacebook">facebook</a></li><li><a href="https://twitter.com/" target="_blank" class="linkTwitter">twitter</a></li><li><a href="https://instagram.com/" target="_blank" class="linkInstagram">Instagram</a></li><li><a href="https://plus.google.com/" target="_blank" class="linkGooglePlus">googlePlus</a></li>					</ul>
				</div>
			</div>
		</section>
		
		<section class="footerOptions">
			<div class="shell clearfix">
				<nav class="pull-right footerNav">
					<ul class="list-inline">
						<li><a href="index.html">Home</a></li><li><a href="reservations.html">Reservations</a></li><li><a href="about-us.html">About Us</a></li><li><a href="services.html">Services</a></li><li><a href="locations.html">Locations</a></li><li class="active"><a href="faq.html">FAQ</a></li><li><a href="terms.html">Rental Terms</a></li><li><a href="contact-us.html">Contact Us</a></li>					</ul>
				</nav>
		
				<div class="pull-left copyright">© 2016 <span class="wc-editable" data-pk="ws_footer_company" data-type="text">Company, LLC.</span> <span class="wc-editable" data-pk="ws_rights_reserved" data-type="text">All rights reserved.</span></div>
				
				<div class="credits"><a href="https://www.vevs.com/car-rental-websites/" target="_blank">Car Rental Website Builder</a> by <a href="https://www.vevs.com/" target="_blank">VEVS.com</a></div>
			</div>
		</section>
	</div>
</footer>

</div>

</body>

</html>