<!DOCTYPE html>
<html lang="en-GB" dir="ltr">

<head>
<title>Car Rental Website | Locations</title>
<meta name="description" content="Home page short description. Up to 160 characters.">
<meta name="keywords" content="Keywords">
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="images/favicon.ico">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="css/owl.carousel.css">
<link type="text/css" rel="stylesheet" href="css/style.css">
<link type="text/css" rel="stylesheet" href="css/theme2.css">
<link type="text/css" rel="stylesheet" href="css/template.css">
<link type="text/css" rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/moment-with-locales.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>
</head>

<body>
	<div class="wrapper">
    <header id="header">
	<div class="navbar navbar-default">
		<div class="shell">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
											<a href="index.html" class="navbar-brand">
							<img src="images/logo-1463940188.png" alt="" />
						</a>
										</div><!-- /.navbar-header -->

				<nav class="collapse navbar-collapse" id="nav">
					<ul class="navbar-right nav navbar-nav">
						<li><a href="index.html">Home</a></li><li><a href="reservations.html">Reservations</a></li><li><a href="about-us.html">About Us</a></li><li><a href="services.html">Services</a></li><li class="active"><a href="locations.html">Locations</a></li><li><a href="faq.html">FAQ</a></li><li><a href="contact-us.html">Contact Us</a></li>														
													</ul><!-- /.navbar-right nav navbar-nav -->
				</nav><!-- /#nav.collapse navbar-collapse -->
			</div><!-- /.container-fluid -->
		</div><!-- /.shell -->
	</div><!-- /.navbar navbar-default -->
</header><!-- /#header -->    <div class="main">
	<section class="section sectionLocations">
		<header class="page-header sectionHead">
			<div class="shell">
				<h1 class="sectionTitle"><span class="wc-editable" data-pk="ws_locations_heading" data-type="text">Locations</span></h1>
				
				<div class="sectionHeadParagraph"><span class="wc-editable" data-pk="ws_locations_desc" data-type="textarea">Below you will find a list with all office locations and all pickup and return points that we serve. You can also review then on the map so you can easily find us. If you need help or if you need a vehicle delivered on your door just contact us.</span></div>
			</div>
		</header>

		<div class="sectionBody">
			<div class="shell">
				<div class="row customLocations">
					<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 pull-right">
						<div id="pjCrMapCanvas" class="customMap">
						</div>
					</div>

					<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 pull-left pre-scrollable">
						<div id="pjCrDirectionContainer" style="display: none">
							<div class="stl-directions-menu">
								<a href="#" class="pjCrCloseDirection"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</a>
							</div>
							<div id="pjCrDirectionPanel"></div>
						</div>
						<ul id="pjCrLoactionList" class="list-unstyled locations">
								<li class="location pjCrLocationItem" data-index="0">
									<div class="locationInner">
										<div class="locationImage">
											<img src="images/location1.jpg" alt="Hogarth Road, London" />
										</div>
										
										<div class="locationContent">
											<div class="locationTitle">Hogarth Road, Grodno</div>
										
											<ul class="list-unstyled locationMeta">
												<li>
													<dl class="dl-horizontal">
														<dt><span class="wc-editable" data-pk="ws_phone" data-type="text">Phone</span>: </dt>
														<dd>+4 123 456 000</dd>
													</dl>
												</li>
										
												<li>
													<dl class="dl-horizontal">
														<dt><span class="wc-editable" data-pk="ws_email" data-type="text">Email</span>: </dt>
														
														<dd>
															<a href="mailto:email@email.com">email@email.com</a>
														</dd>
													</dl>
												</li>
										
												<li>
													<dl class="dl-horizontal">
														<dt><span class="wc-editable" data-pk="ws_address" data-type="text">Address</span>: </dt>
														<dd>15-25 Hogarth Road, Grodno, Grodno, SW5 0QJ, Belarus</dd>
													</dl>
												</li>
											</ul>
										</div>
									</div>
								</li>
								
								<li class="location pjCrLocationItem" data-index="1">
									<div class="locationInner">
										<div class="locationImage">
											<img src="images/location2.jpg" alt="Hogarth Road, London" />
										</div>
										
										<div class="locationContent">
											<div class="locationTitle">Walton Street, Grodno</div>
										
											<ul class="list-unstyled locationMeta">
												<li>
													<dl class="dl-horizontal">
														<dt><span class="wc-editable" data-pk="ws_phone" data-type="text">Phone</span>: </dt>
														<dd>+4 123 456 000</dd>
													</dl>
												</li>
										
												<li>
													<dl class="dl-horizontal">
														<dt><span class="wc-editable" data-pk="ws_email" data-type="text">Email</span>: </dt>
														
														<dd>
															<a href="mailto:email@email.com">email@email.com</a>
														</dd>
													</dl>
												</li>
										
												<li>
													<dl class="dl-horizontal">
														<dt><span class="wc-editable" data-pk="ws_address" data-type="text">Address</span>: </dt>
														<dd>35 Walton Street, Grodno, Grodno, SW3 2HU, Belarus</dd>
													</dl>
												</li>
											</ul>
										</div>
									</div>
								</li>
								
								<li class="location pjCrLocationItem" data-index="2">
									<div class="locationInner">
										<div class="locationImage">
											<img src="images/location3.jpg" alt="Hogarth Road, London" />
										</div>
										
										<div class="locationContent">
											<div class="locationTitle">Hogarth Road, Grodno</div>
										
											<ul class="list-unstyled locationMeta">
												<li>
													<dl class="dl-horizontal">
														<dt><span class="wc-editable" data-pk="ws_phone" data-type="text">Phone</span>: </dt>
														<dd>+4 123 456 000</dd>
													</dl>
												</li>
										
												<li>
													<dl class="dl-horizontal">
														<dt><span class="wc-editable" data-pk="ws_email" data-type="text">Email</span>: </dt>
														
														<dd>
															<a href="mailto:email@email.com">email@email.com</a>
														</dd>
													</dl>
												</li>
										
												<li>
													<dl class="dl-horizontal">
														<dt><span class="wc-editable" data-pk="ws_address" data-type="text">Address</span>: </dt>
														<dd>15-25 Hogarth Road, London, London, SW5 0QJ, Belarus</dd>
													</dl>
												</li>
											</ul>
										</div>
									</div>
								</li>
								
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
	

<script> /*google map*/
	function initMap() {
	var mapDiv = document.getElementById('pjCrMapCanvas');
	var myLatlng  = {lat: 53.677978, lng: 23.829393};
	var myLatlng2 = {lat: 53.676044, lng: 23.838722};
	var myLatlng3 = {lat: 53.672745, lng: 23.832660};
	var map = new google.maps.Map(mapDiv, {center:myLatlng, scrollwheel: false, zoom: 15, mapTypeId: google.maps.MapTypeId.ROADMAP});
	var marker  = new google.maps.Marker({position: myLatlng, map: map, title: 'Car Rental Service point 1'});
	var marker2 = new google.maps.Marker({position: myLatlng2, map: map, title: 'Car Rental Service point 2'});
	var marker3 = new google.maps.Marker({position: myLatlng3, map: map, title: 'Car Rental Service point 3'});
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

		
<footer id="footer">
	<div class="footerInner">
		<section class="footerUtilities">
			<div class="shell clearfix">
				<div class="pull-left footerContacts">
					<ul class="list-inline">
						<li>
							<div class="footerContactsParagraph"><small><span class="wc-editable" data-pk="ws_call_us_now" data-type="text">Call Us Now</span>:</small></div>
		
							<div class="footerContactsParagraph">
								<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
		
								<strong><span class="wc-editable" data-pk="ws_footer_phone_number" data-type="text">123.456.7890</span></strong>
							</div>
						</li>
		
						<li>
							<div class="footerContactsParagraph"><small><span class="wc-editable" data-pk="ws_send_us_a_message" data-type="text">Or send us a message</span>:</small></div>
														<div class="footerContactsParagraph">
								<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
		
								<a href="mailto:info@domainame.com">info@domainame.com</a>							</div>
						</li>
					</ul>
				</div>
		
				<div class="pull-right footerSocials">
					<div class="footerSocialsParagraph"><span class="wc-editable" data-pk="ws_we_are_social" data-type="text">We are social</span>:</div>
		
					<ul class="list-inline">
						<li><a href="https://www.facebook.com/" target="_blank" class="linkFacebook">facebook</a></li><li><a href="https://twitter.com/" target="_blank" class="linkTwitter">twitter</a></li><li><a href="https://instagram.com/" target="_blank" class="linkInstagram">Instagram</a></li><li><a href="https://plus.google.com/" target="_blank" class="linkGooglePlus">googlePlus</a></li>					</ul>
				</div>
			</div>
		</section>
		
		<section class="footerOptions">
			<div class="shell clearfix">
				<nav class="pull-right footerNav">
					<ul class="list-inline">
						<li><a href="index.html">Home</a></li><li><a href="reservations.html">Reservations</a></li><li><a href="about-us.html">About Us</a></li><li><a href="services.html">Services</a></li><li class="active"><a href="locations.html">Locations</a></li><li><a href="faq.html">FAQ</a></li><li><a href="terms.html">Rental Terms</a></li><li><a href="contact-us.html">Contact Us</a></li>					</ul>
				</nav>
		
				<div class="pull-left copyright">&copy; 2016 <span class="wc-editable" data-pk="ws_footer_company" data-type="text">Company, LLC.</span> <span class="wc-editable" data-pk="ws_rights_reserved" data-type="text">All rights reserved.</span></div>
				
				<div class="credits"><a href="https://www.vevs.com/car-rental-websites/" target="_blank">Car Rental Website Builder</a> by <a href="https://www.vevs.com/" target="_blank">VEVS.com</a></div>
			</div>
		</section>
	</div>
</footer>

</div>
</body>
</html>