<!DOCTYPE html>
<html lang="en-GB" dir="ltr">

<head>
<title>Car Rental Website | Home Page</title>
<meta name="description" content="Home page short description. Up to 160 characters.">
<meta name="keywords" content="Keywords">
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="images/favicon.ico">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="css/owl.carousel.css">
<link type="text/css" rel="stylesheet" href="css/style.css">
<link type="text/css" rel="stylesheet" href="css/theme2.css">
<link type="text/css" rel="stylesheet" href="css/template.css">
<link type="text/css" rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/moment-with-locales.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>
</head>

<body>
	<div class="wrapper">
    <header id="header">
	<div class="navbar navbar-default">
		<div class="shell">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
											<a href="index.html" class="navbar-brand">
							<img src="images/logo-1463940188.png" alt="" />
						</a>
										</div><!-- /.navbar-header -->

				<nav class="collapse navbar-collapse" id="nav">
					<ul class="navbar-right nav navbar-nav">
						<li><a href="index.html">Home</a></li><li class="active"><a href="reservations.html">Reservations</a></li><li><a href="about-us.html">About Us</a></li><li><a href="services.html">Services</a></li><li><a href="locations.html">Locations</a></li><li><a href="faq.html">FAQ</a></li><li><a href="contact-us.html">Contact Us</a></li>														
													</ul><!-- /.navbar-right nav navbar-nav -->
				</nav><!-- /#nav.collapse navbar-collapse -->
			</div><!-- /.container-fluid -->
		</div><!-- /.shell -->
	</div><!-- /.navbar navbar-default -->
</header><!-- /#header -->    


<div class="main">
	<section class="section sectionReservations">
		<header class="page-header sectionHead sectionHeadReservations sectionHeadSearch" style="display: block;">
			<div class="shell">
				<h1 class="sectionTitle"><span class="wc-editable" data-pk="ws_reservations_title" data-type="text">Reservations</span></h1>
				
				<div class="sectionHeadParagraph"><div class="wc-editable" data-pk="ws_reservations_desc" data-type="textarea">STEP 1 of the car booking process. Replace the dummy content here with your own. You can add different content on each step.<div><span style="line-height: 20.3px;"><br></span><div>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div></div></div></div>
			</div>
		</header>

	<div id="pjCrContainer"><div class="sectionBody">
	<div class="shell">
		<div class="form formReservation">
						<form action="" id="crFormSearch" method="post">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="form-group dateTimePick dateTimePickFrom">
							<label for=""><span class="wc-editable" data-pk="ws_pickup_date_time" data-type="text">Pick-up Date/Time</span></label>
							
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<div class="input-group datePick datePickFrom">
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
										</span>
				
										<input type="text" id="cr_date_from" name="date_from" class="form-control" value="29-05-2016" readonly="readonly">
									</div><!-- /.input-group datePick datePickFrom -->
								</div><!-- /.col-lg-6 col-md-6 col-sm-6 col-xs-6 -->
																<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<div class="input-group timePick timePickTo" data-rel="from">
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
										</span>
										<input type="text" class="form-control" value="09:00" readonly="">
									</div>
								</div>
								<input type="hidden" id="cr_hour_from" name="hour_from" value="9">
								<input type="hidden" id="cr_minutes_from" name="minutes_from" value="0">
							</div><!-- /.row -->
						</div><!-- /.form-group dateTimePick dateTimePickFrom -->
					</div><!-- /.col-lg-6 col-md-6 col-sm-6 col-xs-12 -->
				
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="form-group dateTimePick dateTimePickTo">
							<label for=""><span class="wc-editable" data-pk="ws_return_date_time" data-type="text">Return Date/Time</span></label>
							
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<div class="input-group datePick datePickTo">
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
										</span>
				
										<input type="text" id="cr_date_to" name="date_to" class="form-control" value="30-05-2016" readonly="readonly">
									</div><!-- /.input-group datePick datePickTo -->
								</div><!-- /.col-lg-6 col-md-6 col-sm-6 col-xs-6 -->
																<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<div class="input-group timePick timePickFrom" data-rel="to">
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
										</span>
				
										<input type="text" class="form-control" value="09:00" readonly="">
									</div><!-- /.input-group timePick timePickFrom -->
								</div>
								<input type="hidden" id="cr_hour_to" name="hour_to" value="9">
								<input type="hidden" id="cr_minutes_to" name="minutes_to" value="0">
							</div><!-- /.row -->
						</div><!-- /.form-group dateTimePick dateTimePickTo -->
					</div><!-- /.col-lg-6 col-md-6 col-sm-6 col-xs-12 -->
				</div><!-- /.row -->
				
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<label for=""><span class="wc-editable" data-pk="ws_pickup_location" data-type="text">Pick-up location</span></label>
				
							<select name="pickup_id" id="cr_pickup_id" class="form-control">
								<option value="1">Hogarth Road, London</option><option value="2">Walton Street, London</option>							</select>
				
							<p>
								<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
								<span class="wc-editable" data-pk="ws_cannot_find_location" data-type="text">Can't find the location?</span> <a href="locations.html">View Map</a>
							</p>
						</div><!-- /.form-group -->
					</div><!-- /.col-lg-6 col-md-6 col-sm-6 col-xs-12 -->
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="form-group" id="returnLocation">
							<label for=""><span class="wc-editable" data-pk="ws_return_location" data-type="text">Return location</span></label>
			
							<select name="return_id" id="cr_return_id" class="form-control" disabled="disabled">
							<option value="1">Hogarth Road, London</option><option value="2">Walton Street, London</option>							</select>
				
							<div class="checkbox customCheckbox customInputChecked">
								<input type="checkbox" name="same_location" id="cr_same_location" value="1" checked="checked">
				
								<label for="cr_same_location">
									<span class="customCheckboxFake">
										<span class="glyphicon glyphicon-ok"></span>
									</span>
				
									<span class="wc-editable" data-pk="ws_same_as_pickup_location" data-type="text">Same as the pick-up location</span>								</label>
							</div><!-- /.checkbox customCheckbox -->
						</div><!-- /#returnLocation.form-group -->
					</div><!-- /.col-lg-6 col-md-6 col-sm-6 col-xs-12 -->
				</div><!-- /.row -->

				<div class="form-group text-center">
					<button type="submit" class="btn btn-primary" id="crBtnQuote">Make reservation</button>
				</div><!-- /.form-group text-center -->
				
				<p class="crError text-danger text-center" style="display: block;"></p>
			</form>
		</div><!-- /.form formReservation -->
	</div><!-- /.shell -->
</div><!-- /.sectionBody --></div>
	</section>
</div>


    <footer id="footer">
	<div class="footerInner">
		<section class="footerUtilities">
			<div class="shell clearfix">
				<div class="pull-left footerContacts">
					<ul class="list-inline">
						<li>
							<div class="footerContactsParagraph"><small><span class="wc-editable" data-pk="ws_call_us_now" data-type="text">Call Us Now</span>:</small></div>
		
							<div class="footerContactsParagraph">
								<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
		
								<strong><span class="wc-editable" data-pk="ws_footer_phone_number" data-type="text">123.456.7890</span></strong>
							</div>
						</li>
		
						<li>
							<div class="footerContactsParagraph"><small><span class="wc-editable" data-pk="ws_send_us_a_message" data-type="text">Or send us a message</span>:</small></div>
														<div class="footerContactsParagraph">
								<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
		
								<a href="mailto:info@domainame.com">info@domainame.com</a>							</div>
						</li>
					</ul>
				</div>
		
				<div class="pull-right footerSocials">
					<div class="footerSocialsParagraph"><span class="wc-editable" data-pk="ws_we_are_social" data-type="text">We are social</span>:</div>
		
					<ul class="list-inline">
						<li><a href="https://www.facebook.com/" target="_blank" class="linkFacebook">facebook</a></li><li><a href="https://twitter.com/" target="_blank" class="linkTwitter">twitter</a></li><li><a href="https://instagram.com/" target="_blank" class="linkInstagram">Instagram</a></li><li><a href="https://plus.google.com/" target="_blank" class="linkGooglePlus">googlePlus</a></li>					</ul>
				</div>
			</div>
		</section>
		
		<section class="footerOptions">
			<div class="shell clearfix">
				<nav class="pull-right footerNav">
					<ul class="list-inline">
						<li><a href="index.html">Home</a></li><li class="active"><a href="reservations.html">Reservations</a></li><li><a href="about-us.html">About Us</a></li><li><a href="services.html">Services</a></li><li><a href="locations.html">Locations</a></li><li><a href="faq.html">FAQ</a></li><li><a href="terms.html">Rental Terms</a></li><li><a href="contact-us.html">Contact Us</a></li>					</ul>
				</nav>
		
				<div class="pull-left copyright">&copy; 2016 <span class="wc-editable" data-pk="ws_footer_company" data-type="text">Company, LLC.</span> <span class="wc-editable" data-pk="ws_rights_reserved" data-type="text">All rights reserved.</span></div>
				
				<div class="credits"><a href="https://www.vevs.com/car-rental-websites/" target="_blank">Car Rental Website Builder</a> by <a href="https://www.vevs.com/" target="_blank">VEVS.com</a></div>
			</div>
		</section>
	</div>
</footer>

</div>
</body>
</html>