<wicket:panel>

<header id="header">
	<div class="navbar navbar-default">
		<div class="shell">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="index.html" class="navbar-brand">
					<img src="images/logo-1463940188.png" alt=""></a>
				</div><!-- /.navbar-header -->

				<nav class="collapse navbar-collapse" id="nav">
					<ul class="navbar-right nav navbar-nav">
						<li wicket:id="link-container-homepage"><a wicket:id="link-homepage">Home</a></li>
						<li wicket:id="link-container-reservations"><a wicket:id="link-reservations">Reservations</a></li>
						<!-- <li wicket:id="link-container-about-us"><a wicket:id="link-about-us">About Us</a></li>-->
						<li wicket:id="link-container-services"><a wicket:id="link-services">Services</a></li>
						<li wicket:id="link-container-locations"><a wicket:id="link-locations">Locations</a></li>
						<li wicket:id="link-container-faq"><a wicket:id="link-faq">FAQ</a></li>
						<li wicket:id="link-container-contact-us"><a wicket:id="link-contact-us">Contact Us</a></li>
						<li wicket:id="link-container-admin"><a wicket:id="link-admin">Admin panel</a></li>
						<li wicket:id="link-container-bookings"><a wicket:id="link-bookings">My bookings</a></li>
						<li wicket:id="link-container-login"><a wicket:id="link-login">Login</a></li>
						<li wicket:id="link-container-logout"><a wicket:id="link-logout">Logout</a></li>														
					</ul><!-- /.navbar-right nav navbar-nav -->
				</nav><!-- /#nav.collapse navbar-collapse -->
			</div><!-- /.container-fluid -->
		</div><!-- /.shell -->
	</div><!-- /.navbar navbar-default -->
</header>

</wicket:panel>